@import url("");
:root {
  /*size*/
  --size-icon_logo : 48px;

  /*color*/
  --color_primary : #4FBA80;
  --color_primary-variant1 : #0F9B6B;
  --color_primary-variant2 :  #A6CBB7;
  --color_background : #F7F7F7;
  --color_surface : #FFFFFF;

  /*padding*/
  --padding_container-top: 30px;
  
  /*margin*/
  --margin_container-side : 100px;
}

html {
  font-family: "",;
  color: #424952;
}

body {
  background-color: rgb(235, 235, 235);
}

.container {
  display: grid;
  padding-top: var(--padding_container-top);
  margin: 0 var(--margin_container-side);
}

header {
  display: flex;
  justify-content: space-between;
}

#logo {
  color: var(--color_primary-variant1);
}

#logo .site-name {
  margin-left: 12px;
}

header {
  align-items: center;
  width: 100%;
  background-color: rgb(159, 187, 179);
}

.grid-view-contents { 
  align-items:center;
  background-color: rgb(217, 228, 225);
} 


  .grid-view-contents img {
    width: 20%;
    height: auto;
  }
  .grid-view-content,
  .book-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
